
<div class="content"   ng-controller="PaginationCtrl">
<!--<div class="content">-->
<!--<div class="main">-->
<!--<div class="main" ng-controller="ItemsCtrl">-->
    <div class="container "ng-init="getRealty()">
        <div class="row no-gutter">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                Основна інформація:
                <br>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    Площа
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    Кількість
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    Площа кімнат
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    Висота
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    ціііна У власності років
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    Поверх
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                Адреса:
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                Вартість:
                <br>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    Ціна
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    Мінімальна ціна
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    Тип оплати
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" >
                Управління:
            </div>
        </div>
    </div>




    <div class="container" >
    <!--<div class="container" ng-init="paginationRealty()">-->


        <div class="row" ng-repeat="(key,realty_unit) in realty | startFrom: startingItem() | limitTo: itemsPerPage">
        <!--<div class="row" ng-repeat="(key,realty_unit) in realty">-->
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.area_all }}
                    <!--                    {{realty_unit.id }}-->
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.rooms_quantity }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.area_rooms }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.ceiling_height }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.price }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.floor_current }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                {{realty_unit.city }},  {{realty_unit.address_district }}, {{realty_unit.street }},
                {{realty_unit.address_guide }}, {{realty_unit.address_house }}, {{realty_unit.address_flat }}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    {{realty_unit.price }}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    {{realty_unit.min_price }}
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    {{realty_unit.sale }}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2" >
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >

                    <button type="button" class="btn btn-info" ng-click="showAllDataOfRealtyUnit(realty_unit.id)"><span class="glyphicon glyphicon-plus"></span></button>

                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    <a href="#!add_item/{{  realty_unit.id }}" type="button" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span></a>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                    <button type="button" class="btn btn-danger" ng-click="deleteRealtyUnit(realty_unit.id, key)"><span class="glyphicon glyphicon-remove"></span></button>
                </div>
            </div>
            <hr>
        </div>


    </div>
    .
    <!-- modal -->
    <div id="modal_form" class="row">
        <!--        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>-->
        <!--        <div id="modal_content" class="col-xs-10 col-sm-8 col-md-8 col-lg-8">-->
        <!--             <div class="container ">-->
        <!--        <div class="row no-gutter">-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            Основна інформація:
            <br>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                Площа
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                Кількість
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                Площа кімнат
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                Висота
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                ціііна У власності років
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                Поверх
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            Адреса:
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            Вартість:
            <br>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                Ціна
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                Мінімальна ціна
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                Тип оплати
            </div>
        </div>

        <!--        </div>-->
        <!--    </div>-->



        <!--    <div class="container">-->
        <!--        <div class="row">-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4" >
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.area_all }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.rooms_quantity }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.area_rooms }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.ceiling_height }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.price }}
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                {{realty_unit_temp.floor_current }}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            {{realty_unit_temp.city }},  {{realty_unit_temp.address_district }}, {{realty_unit_temp.street }},
            {{realty_unit_temp.address_guide }}, {{realty_unit_temp.address_house }}, {{realty_unit_temp.address_flat }}
        </div>
        <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3" >
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                {{realty_unit_temp.price }}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                {{realty_unit_temp.min_price }}
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" >
                {{realty_unit_temp.sale }}
            </div>
        </div>

        <!--
                </div>
            </div>
        -->
        <span id="modal_close" ng-click="closeAllDataOfRealtyUnit()">X</span>
        <!--        </div>-->
        <!--        <div class="col-xs-1 col-sm-2 col-md-2 col-lg-2"></div>-->

        <!-- Тут любoе сoдержимoе -->
    </div>
    <div id="overlay"></div><!-- Пoдлoжкa -->


    <!--
        <div id="modal_form" class="row">
            <div class="col-xs-1 col-sm-2 col-md-2 col-lg-3"></div>
            <div id="modal_content" class="col-xs-10 col-sm-8 col-md-8 col-lg-6">
                <span id="modal_close" ng-click="closeAllDataOfRealtyUnit">X</span>
            </div>
           Тут любoе сoдержимoе
        </div>
        <div id="overlay"></div> Пoдлoжкa
    -->
    <!-- modal -->


<div id="pagination" class="row">
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" ></div>
    <div class="col-xs-8 col-sm-6 col-md-6 col-lg-4" >
        <button class="pull-left btn btn-default" ng-disabled="firstPage()" ng-click="pageBack()">Назад</button>
        <span>{{ currentPage + 1 }} з {{ numberOfPages() }}</span>
        <button class="pull-right  btn btn-default" ng-disabled="lastPage()" ng-click="pageForward()">Вперед</button>
    </div>
    <div class="col-xs-2 col-sm-3 col-md-3 col-lg-4" ></div>
</div>
</div>
