<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <!--        <link rel="stylesheet" type="text/css" href="style.css" />-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>

<!--    <link href="css/main.css" rel="stylesheet" />-->

</head>
<body ng-app="myApp">
<header style="margin: 0; padding: 0;">
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="col-sm-4">
                <div id="logo">
                    <a href="#"><img src="../images/logo.png" title="Your Store" alt="Your Store" class="img-responsive"></a>
                </div>
            </div>
            <div id="top-links" class="nav pull-right">
                <ul class="list-inline">
<!--                    <li><a href="##"><span class="glyphicon glyphicon-phone"></span>123456789</a></li>-->
                    <li><a href="##">Привіт, Ім'я</a></li>
                    <li><a href="#">Вийти</a></li>
                  </ul>
            </div>
        </div>
    </nav>
</header>

<menu style="margin: 0; padding: 0;">
    <nav class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">&emsp;&emsp;Головна&emsp;&emsp;</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="view/view_items.html">&emsp;Перегляд об'єктів&emsp;</a></li>
                    <li><a href="#">&emsp;Додати об'єкт&emsp;</a></li>
                    <li><a href="#">&emsp;Контактна інформація&emsp;</a></li>

                </ul>

<!--                <ul class="nav navbar-nav navbar-right">-->
                    <form class="navbar-form navbar-right" role="search">

                        <a href="#"><button type="submit" class="btn btn-default">&emsp;&emsp;Знайти за фільтрами&emsp;&emsp;</button></a>
                    </form>

<!--                </ul>-->
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</menu>





<div class="main" ng-controller="MainController">
    <button ng-click="getRealty()">getRealty</button>
    <button ng-click="deleteRealtyUnit(283)">delete</button>
    <button ng-click="insertRealtyUnit()">insert</button>
    <button ng-click="updateRealtyUnit(275)">update</button>
    <button ng-click="getRealtyUnit(283)">get_by_id</button>
    <button ng-click="getRealtyByStreet('Зелена')">get_by_street</button>

    {{ title }}clearfix
    {{ realty_unit_temp.id }}
    <br>
    <br>
    <br>
    <div class="container">
<!--
        <div class="row" ng-repeat="realty_unit in realty">
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.area_all }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.rooms_quantity }}
                </div>
                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{realty_unit.area_rooms }}
                </div>
        </div>

-->
        <form name="myForm" ng-submit="sendFeedback()">
<!--            <label for="singleSelect"> Single select: </label><br>-->
<!--            <select name="singleSelect" ng-model="data.singleSelect">-->
<!--              <option value="option-1">Option 1</option>-->
<!--              <option value="option-2">Option 2</option>-->
<!--            </select><br>-->

            
            
<!--
            <label for="singleSelect"> Single select with "not selected" option and dynamic option values: </label><br>
            <select name="singleSelect" id="singleSelect" ng-model="data.singleSelect">
-->
<!--              <option value="">---Please select---</option>  not selected / blank option -->
<!--              <option value="{{data.option1}}">Option 1</option>  interpolation -->
<!--
              <option value="option-2">Option 2</option>
            </select><br>
-->
<!--
            <button ng-click="forceUnknownOption()">Force unknown option</button><br>
            <tt>singleSelect = {{data.singleSelect}}</tt>

            <hr>
            <label for="multipleSelect"> Multiple select: </label><br>
            <select name="multipleSelect" id="multipleSelect" ng-model="data.multipleSelect" multiple>
              <option value="option-1">Option 1</option>
              <option value="option-2">Option 2</option>
              <option value="option-3">Option 3</option>
            </select><br>
-->
<!--            <tt>multipleSelect = {{data.multipleSelect}}</tt><br/>-->
             
            
            <script>
    $(function(){
        $("#div_inputs").toggle();
        $("#div_enums").toggle();

        $("#hide_inputs").toggle();
        $("#hide_enums").toggle();
    


        $("#show_inputs").click(function(){
            $("#div_inputs").toggle();
            $("#hide_inputs").toggle();
            $("#show_inputs").toggle();
        });
        $("#hide_inputs").click(function(){
            $("#div_inputs").toggle();
            $("#hide_inputs").toggle();
            $("#show_inputs").toggle();
        });
        $("#show_enums").click(function(){
            $("#div_enums").toggle();
            $("#hide_enums").toggle();
            $("#show_enums").toggle();
        });
        $("#hide_enums").click(function(){
            $("#div_enums").toggle();
            $("#hide_enums").toggle();
            $("#show_enums").toggle();
        });

    });
            </script>
            
            <style>
                .input {
                    width: 100%;
                }
                .div_input {
                    height: 56px;
                }
                .div_enum {
                    height: 74px;
                }
                .btn {
/*                    width: 40%;*/
                }
            
            </style>
<!--
            <a id="show_company">
            <i class="fa fa-chevron-down"></i>
        </a>
        <a id="hide_company">
            <i class="fa fa-chevron-up"></i>
        </a>
-->
           
         
            <div>
                input
                 <a id="show_inputs">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <a id="hide_inputs">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
            </div>
            <div class="row" id="div_inputs">
                <div class="div_input col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="item_input in input">
                    <label for="{{ item_input.name }}"> {{ item_input.label }}: </label><br>


                    <input class = "input" id="{{ item_input.name }}" name="{{item_input.name }}">
                </div>
            </div>
            
            
            
            
            <div>
                enum
                <a id="show_enums">
                    <i class="glyphicon glyphicon-chevron-down"></i>
                </a>
                <a id="hide_enums">
                    <i class="glyphicon glyphicon-chevron-up"></i>
                </a>
            </div>
            
            <div class="row" id="div_enums">
                <div class="div_enum col-xs-6 col-sm-4 col-md-3 col-lg-2" ng-repeat="enum_type in enum">
                    <label for="{{ enum_type.name }}"> {{ enum_type.label }}: </label><br>
                    <select id="{{ enum_type.name }}" name="{{ enum_type.name }}" class="form-control"  
                            ng-model ="feedback.mysubject"
                            ng-options = "type.value as type.label for type in enum_type.data">
                        <option value="">Не вказано</option>

                    </select>
                </div>
            </div>
            
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-5">
                </div>
                <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                    <button class="btn btn-primary btn-md" type="submit">Зберегти</button>
<!--                </div>-->
<!--                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2">-->
                    <button class="btn btn-danger btn-md" type="reset">Очистити</button>
                </div>
            </div>
            <br>
            
            
          
            <span ng-show="invalidSubjectSelection" class="help-block">select opti</span>
            
            
        </form>
        
        
        
<!--
        <div class="row" ng-repeat="enum_type in enum">
            <div class="row" ng-repeat="type in enum_type.text">
                <select id="{{ enum_type }}" name="{{ enum_type }}" >
                    <option >{{ type }}</option>
-->
    <!--
                <option >Выберите героя</option>
                <option value="Чебурашка">Чебурашка</option>
                <option selected value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
    -->
<!--
               </select>

                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" >
                    {{ enum_type.text }}
                </div>
         </div>
            <br>
        </div>
-->
        <div class="row" >
            <div class="row" >
              <select id="house_type" name="house_type" ng-repeat="house_type_ in enum.house_type.text">
                <option >{{ house_type_ }}</option>
    <!--
                <option >Выберите героя</option>
                <option value="Чебурашка">Чебурашка</option>
                <option selected value="Крокодил Гена">Крокодил Гена</option>
                <option value="Шапокляк">Шапокляк</option>
                <option value="Крыса Лариса">Крыса Лариса</option>
    -->
               </select>
            </div>
        </div>
    </div>



    
</div>

<div>

<!-- Modules -->
<!--<script src="js/app.js"></script>-->
<script src="../js/fac.js"></script>

<!-- Controllers -->
<script>
//    (function() {
    function addScript(src){
        var script = document.createElement('script');
        script.src = src;
        script.async = false; // чтобы гарантировать порядок
        document.body.appendChild(script);
    }
//    })();
</script>

<script>

//        addScript('js/controllers/MainController.js');
//        addScript('http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js');
    //    addScript('http://localhost/test2/DatingProCORE_Genie.start_8136329/application/js/video.js');
</script>

<script src="../js/controllers/MainController.js"></script>
<script>
//    getRealty();
</script>

<!--//{% helper im.imMobileBlock() %}-->
<!--//{% helper shoutbox.shoutboxMobileBlock() %}-->
<!--//{% helper cookie_policy.cookie_policy_block() %}-->

    </div>
        <footer>
            <div class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
<!--                        <div class="panel panel-inverse">-->
                            <h4>Контактна інформація</h4>
<!--                            <div class="panel-body">-->
<!--                                <div class="row">-->
                                    <div class="col-sm-3"><strong>Your Store</strong><br>
                                        <address>
                                            Address 1 </address>
                                    </div>
                                    <div class="col-sm-3"><strong>Telephone</strong><br>
                                        123456789<br>
                                        <br>
                                    </div>
                                    <div class="col-sm-3">
                                    </div>
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
                <hr>
                <p>Розроблено <a href="#mail">Вадимом Корнійчуком</a><br>Realty  &copy; 2016</p>
            </div>
            </div>
        </footer>
    </body>
</html>
