        <footer>
            <div class="navbar navbar-inverse">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Контактна інформація</h4>
                        <div class="col-sm-3"><strong>Your Store</strong><br>
                            <address>
                                Address 1 
                            </address>
                        </div>
                        <div class="col-sm-3"><strong>Telephone</strong><br>
                            123456789<br>
                            <br>
                        </div>
                    </div>
                </div>
                <hr>
                <p>Розроблено <a href="#mail">Вадимом Корнійчуком</a><br>ChoicApart  &copy; 2016</p>
            </div>
        </footer>
    </body>
</html>